# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
venv/
env/
.venv/
ENV/

# PyCharm & VSCode settings (optional)
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.lnk

# Logs
*.log

# Python egg stuff
*.egg
*.egg-info/
dist/
build/

# Test/coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
coverage.xml
*.cover

# Misc
*.swp
